/*

   FONT FAMILY GROUPS

*/


.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont,
               'Avenir Next', Avenir,
               'Helvetica Neue', Helvetica,
               Roboto, Noto,
               Ubuntu, 'Segoe UI',
               sans-serif;
}

.serif {
  font-family: Georgia,
               Times,
               serif;
}

.system-sans-serif {
  font-family: sans-serif;
}

.system-serif {
  font-family: serif;
}


/* Monospaced Typefaces (for code) */

/* From http://cssfontstack.com */
code,
.code {
  font-family: Consolas,
               Monaco,
               monospace;
}


/* Sans-Serif Typefaces */

.helvetica {
  font-family:  'Helvetica Neue', Helvetica,
                sans-serif;
}


/* Serif Typefaces */

.georgia {
  font-family: Georgia,
               serif;
}

.times {
  font-family: Times,
               serif;
}

.bodoni {
  font-family: 'Bodoni MT',
                serif;
}

.calisto {
  font-family: 'Calisto MT',
                serif;
}

.garamond {
  font-family: Garamond,
               serif;
}
